<div class="small-12 columns">
	<h1>Find Photos</h1>
	<div class="row collapse">
		<div class="small-10 columns">
			<input type="text" class="search-term" value="{{term}}" placeholder="Tag Search"/>
		</div>
		<div class="small-2 columns">
			<button class="search-button button prefix">Search</button>
		</div>
	</div>
</div>