<div class="small-4 columns">
	<h2>{{title}}</h2>
	<ul class="large-block-grid-4">
  		{{#each photos}}
  			<li>
  				<a href="{{fullUrl}}" class="image-link" id="{{id}}">
  					<img src="{{thumbUrl}}" />
				</a>
			</li>
		{{/each}}
	</ul>
</div>